.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    /* font-weight: 400; */
    font-style: normal;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    /* font-weight: 100; */
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    /* font-weight: 200; */
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    /* font-weight: 300; */
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    /* font-weight: 500; */
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    /* font-weight: 600; */
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    /* font-weight: 700; */
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    /* font-weight: 800; */
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    /* font-weight: 900; */
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    /* font-weight: 100; */
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    /* font-weight: 200; */
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    /* font-weight: 300; */
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    /* font-weight: 400; */
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    /* font-weight: 500; */
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    /* font-weight: 600; */
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    /* font-weight: 700; */
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    /* font-weight: 800; */
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    /* font-weight: 900; */
    font-style: italic;
}
body {
    background-color: #e8d7d7;
}
section {
    background: #fff7f7;
    z-index: -2;
}

.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    align-items: center;
}

.head-title {
    width: 503px;
    height: 160px;
    font-size: 31px;
    font-family: Yeseva One;
    color: #333333;
}
.head-description {
    width: 471px;
    height: 84px;
    font-size: 18px;
    font-family: poppins;
    color: #3e3e3e;
    margin-top: 15px;
}
button {
    width: 172px;
    height: 48px;
    padding: 12px;
    border-radius: 5px;
    background-color: #ff5959;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
    width: 426px;
    height: 426px;
}
.mission-container {
    width: 1128px;
    height: 494px;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}
.container-1 {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.mission-1 {
    width: 600px;
    height: 330px;
    border-radius: 26px;
    background: #4f9da629;
    padding: 20px;
}
.mission-2 {
    width: 600px;
    height: 330px;
    border-radius: 26px;
    background: #ff595928;
    padding: 20px;
}
.mission-3 {
    width: 600px;
    height: 330px;
    border-radius: 26px;
    background: #fff4d6;
    padding: 20px;
}
/* shared tag */

.title {
    width: 654px;
    height: 70px;
    font-size: 48px;
    font-weight: bold;
    font-family: poppins;
    margin: 0 auto;
    padding: 5px;
    margin-top: 60px;
}
.title-2 {
    width: 335px;
    height: 108px;
    font-size: 36px;
    font-weight: bold;
    font-family: poppins;
    color-scheme: #333333;
}
.btn {
    width: 243px;
    height: 48px;
    border-radius: 5px;
}
.image {
    width: 141px;
    height: 141px;
}

.banner-description {
    width: 654px;
    height: 120px;
    font-size: 18px;
    font-family: poppins;
    color: #3e3e3e;
}
.container {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 80px;
}
.shap {
    position: absolute;
    top: 1269px;
    right: 1250px;
    z-index: 97;
}
.shap-2 {
    position: absolute;
    top: 1780px;
    left: 1220px;
    z-index: 97;
}
.image-1 {
    position: relative;
    z-index: 98;
}
.container-2 {
    display: flex;
    gap: 24px;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}
.vacktor,
.vacktor-1,
.vacktor-2 {
    position: absolute;
}
.vacktor {
    top: 50px;
}
.vacktor-1 {
    left: 80px;
}
.vacktor-2 {
    bottom: 70px;
    width: 77px;
    height: 77px;
}
.picture {
    width: 329px;
    height: 459px;
    border-radius: 16px;
}
.application-container {
    width: 1128px;
    height: 700px;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}
.application-title {
    width: 579px;
    height: 124px;
    font-size: 45px;
    font-weight: bold;
    font-family: poppins;
    margin: 0 auto;
}
.application-description {
    width: 525px;
    height: 129px;
    font-size: 18px;
    font-family: poppins;
    color: #3e3e3e;
    margin-top: 90px;
}
footer {
    width: 1880px;
    height: 250px;
    background-color: #000;
}
.footer-container {
    text-align: center;
    align-items: center;
    width: 1440px;
    height: 277px;
    line-height: 50px;
    margin: 0 auto;
}
.foot {
    width: 342px;
    height: 192px;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
}

.foot-title {
    width: 306px;
    height: 44px;
    font-size: 36px;
    margin: 0 auto;
    color: #ffffff;
}
small {
    color: #ffffff;
}

.hide {
    display: none;
}

@media screen and (max-width: 576px) {
    .head-container {
        width: 100%;
        height: 100%;
        padding: 60px;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 576px) {
    .mission-container {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .container-1 {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .mission-1,
    .mission-2,
    .mission-3 {
        width: 90%;
    }
    .title {
        width: 90%;
        text-align: center;
        padding: 20px;
    }
}
